.textSpace p .infoTitle .reservationProperty {
    /* Arreglar overflow */
    overflow: hidden; 
}


.reservationProperty {
    margin: 0.rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    
}

.infoTitle {
    margin: 0rem 0rem 2.5rem 0rem;
    /* 3rem de margen superior e inferior y centrado horizontal */
  }

.textSpace {
    margin-top: 1.1rem ;
    margin-bottom: 1.1rem ;
    background-color: #F0F3F8;
    width: 100%;
    height: 2.2rem;
}


.icon {
    width: 3rem;
    height: 3rem;
}

.custom-button {
    background-color: #ADC05C;
    border: none;
    padding: 0;
}

.margin-custom {
    margin-top: 8%;
}