.tableTitle{
    margin: auto;
    padding: 1rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  background-color: #DDC862; 
  padding: 10px; 
  border: 2px solid #000; 
  border-top-left-radius: 1rem; 
  border-top-right-radius: 1rem;
}

/* Clase para la tabla personalizada */
.custom-table th{
  background-color: #DDC862;
  border: 2px solid #000; 
  border-radius: 5px; 
}

/* Clase para el cuadro de búsqueda */
.search-input {
  width: 50%; 
}

.table-entry {
    background-color: #F0E7BA; 
    font-weight: 700;
}

#td {
    background-color: #F0E7BA;
    border: 2px solid #000;
}