.custom-button {
    background-color: #ADC05C;
    border: none; 
    height: 100%;
    width: 150px; /* Establece el ancho deseado para los botones */
    margin: 5px; /* Agrega márgenes para separar los botones */
}

